{% extends 'web/main.html' %}

{% block content %}
<!--- banner-1 ---->
<div class="banner-1">
	<div class="container">
		<h1 class="wow zoomIn animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;"> Green Wheels - Best in Class for Travel & Hotels</h1>
	</div>
</div>
<!--- /banner-1 ---->
<!--- apps ---->
<div class="apps">
	<div class="container">
		<div class="mobile-app">
					<div class="col-md-5 app-left wow fadeInLeft animated" data-wow-delay=".5s">
						<img src="/static/images/app.png" class="img-responsive" alt="">
					</div>
					<div class="col-md-7 app-right wow fadeInRight animated" data-wow-delay=".5s">
					 
						<h3>Lorem Ipsum available <span>Easiest</span> but the majority have suffered alteration</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor Sed bibendum varius euismod. Integer eget turpis sit amet lorem rutrum ullamcorper sed sed dui. vestibulum odio at elementum. Suspendisse et condimentum nibh.</p>
						<div class="app-buttons">
							<div class="app-button">
								<a href="#"><img src="/static/images/1.png" alt=""></a>
							</div>
							<div class="app-button">
								<a href="#"><img src="/static/images/2.png" alt=""></a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"></div>
			</div>
			<div class="banner-bottom">
				<div class="banner-text wow zoomIn animated animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
					<h3>Services</h3>
					<p>Ut mollis rhoncus porttitor. Nulla facilisi. Nulla eget est fringilla, malesuada ligula non, scelerisque enim. Fusce dui ex, accumsan at viverra nec, suscipit eget tortor.</p>
				</div>
				<div class="banner-bottom-grids">
					<div class="col-md-4 banner-bottom-grid  wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
						<div class="services-icon">
							<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
						</div>
						<h4>Aliquam nulla mauris</h4>
						<p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry. </p>
					</div>
					<div class="col-md-4 banner-bottom-grid red  wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
						<div class="services-icon">
							<span class="glyphicon glyphicon-th-large glyphicon-phone" aria-hidden="true"></span>
						</div>
						<h4>Mauris pellentesque</h4>
						<p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry. </p>
					</div>
					<div class="col-md-4 banner-bottom-grid green  wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
						<div class="services-icon">
							<span class="glyphicon glyphicon-th-large glyphicon-refresh" aria-hidden="true"></span>
						</div>
						<h4>Praesent vitae quam</h4>
						<p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry. </p>
					</div>
					<div class="clearfix"> </div>
				</div>	
		</div>
	</div>
</div>
<!--- /apps ---->
{% endblock content %}