<div class="col-md-4 blog-right">
    <div class="popular animated wow fadeInUp" data-wow-duration="1200ms"
         data-wow-delay="500ms">
        <h3>Most Popular</h3>
        <div class="popular-grid">
            <div class="popular-left">
                <h4>01.</h4>
            </div>
            <div class="popular-right">
                <h5><a href="/single1">deleniti atque</a></h5>
                <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                    reiciendis.<span>1 Month Ago...</span></p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="popular-grid">
            <div class="popular-left">
                <h4>02.</h4>
            </div>
            <div class="popular-right">
                <h5><a href="/single1">sapiente delectus</a></h5>
                <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                    reiciendis.<span>15 Days Ago...</span></p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="popular-grid">
            <div class="popular-left">
                <h4>03.</h4>
            </div>
            <div class="popular-right">
                <h5><a href="/single1">rerum hic tenetur</a></h5>
                <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                    reiciendis.<span>5 Days Ago...</span></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="subscribe animated wow fadeInUp" data-wow-duration="1200ms"
         data-wow-delay="500ms">
        <h3>Subscribe</h3>
        <p>Subscribe for daily Travels.</p>
        <form>
            <input type="email" value="Email" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Email';}"
                   required="">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="categories animated wow fadeInUp" data-wow-duration="1200ms"
         data-wow-delay="500ms">
        <h3>Categories</h3>
        <ul>
            <li><a href="/single1">tenetur a sapiente delectus</a></li>
            <li><a href="/single1">Itaque earum rerum hic tenetur</a></li>
            <li><a href="/single1">qui dolorem eum fugiat quo</a></li>
            <li><a href="/single1">voluptas a asperiores delectus</a></li>
            <li><a href="/single1">perferendis doloribus repellat</a></li>
            <li><a href="/single1">eligendi optio cumque nihil</a></li>
        </ul>
    </div>
    <div class="instagram animated wow fadeInUp" data-wow-duration="1200ms"
         data-wow-delay="500ms">
        <h2>Instagram Posts</h2>
        <div class="instagram-grids">
            <div class="instagram-grid">
                <a href="/single1"><img src="/static/images/h2.jpg" alt=" "
                                        class="img-responsive"></a>
            </div>
            <div class="instagram-grid">
                <a href="/single1"><img src="/static/images/h3.jpg" alt=" "
                                        class="img-responsive"></a>
            </div>
            <div class="instagram-grid">
                <a href="/single1"><img src="/static/images/h4.jpg" alt=" "
                                        class="img-responsive"></a>
            </div>
            <div class="instagram-grid">
                <a href="/single1"><img src="/static/images/c3.jpg" alt=" "
                                        class="img-responsive"></a>
            </div>
            <div class="instagram-grid">
                <a href="/single1"><img src="/static/images/c4.jpg" alt=" "
                                        class="img-responsive"></a>
            </div>
            <div class="instagram-grid">
                <a href="/single1"><img src="/static/images/c5.jpg" alt=" "
                                        class="img-responsive"></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="tags animated wow fadeInUp" data-wow-duration="1200ms"
         data-wow-delay="500ms">
        <h3>Recent Tags</h3>
        <ul>
            <li>
                <a href="/single1">Hotels</a>
            </li>
            <li>
                <a href="/single1">Travels</a>
            </li>
            <li>
                <a href="/single1">Reservations</a>
            </li>
            <li>
                <a href="/single1">Booking</a>
            </li>
            <li>
                <a href="/single1">Cottage</a>
            </li>
            <li>
                <a href="/single1">Services</a>
            </li>
            <li>
                <a href="/single1">Hotels</a>
            </li>
            <li>
                <a href="/single1">Travels</a>
            </li>
            <li>
                <a href="/single1">Reservations</a>
            </li>
            <li>
                <a href="/single1">Booking</a>
            </li>
            <li>
                <a href="/single1">Services</a>
            </li>
        </ul>
    </div>
</div>